@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --primary-color: rgb(255, 81, 0);
  --light-primary-color: rgb(255, 139, 85);
  --dark-primary-color: rgb(187, 59, 0);

  --secondary-color: rgb(56, 0, 98);
  --light-secondary-color: rgb(101, 0, 179);
  --dark-secondary-color: rgb(33, 0, 59);

  --nav-color: rgb(55, 55, 55);

  --modal-color: rgb(85, 85, 85);

  --button-transition-time: 0.135s;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--dark-secondary-color);
}

/* SETUP */

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.backdrop {
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: fade-in 0.15s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* GENERAL */

.login-container {
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  min-width: 250px;
  max-width: 600px;
  height: 65vh;
  margin: 0;
  border-radius: 35px;
}

@media screen and (max-height: 800px)
{
  .login-container
  {
    height: 85vh;
  }
}

@media screen and (max-width: 1200px)
{
  .login-container {
    width: 75%;
  }
}

form
{
  width: 80%;
}

.login-title {
  color: white;
  margin: 0 0 30px 0;
  font-size: 50px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-height: 625px)
{
  .login-title
  {
    margin-top: 10px;
    font-size: 40px;
  }
}

.login-input {
  background: none;
  color: white;
  width: 100%;
  height: 30px;
  margin: 0 0 30px 0;
  border: none;
  outline: none;
  border-bottom: 4px solid var(--primary-color);
  font-size: 20px;
}

.change-page {
  color: var(--primary-color);
  margin: 20px 0 0 0;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  cursor: pointer;
  transition: color 0.2s;
}

.change-page:hover {
  color: var(--light-primary-color);
}

.login-submit {
  background: var(--primary-color);
  color: white;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  font-size: 25px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  transition: background var(--button-transition-time);
}

.login-submit:hover {
  background: var(--dark-primary-color);
}

.error-message {
  color: red;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 600px)
{
  .change-page
  {
    font-size: 20px;
  }

  .error-message
  {
    font-size: 20px;
  }
}

/* LOGIN AND SIGN UP PAGE */

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden scroll;
  animation: fade-in 0.25s;
}

nav
{
  background: var(--nav-color);
  z-index: 100;
}

nav, .desktop-nav, .mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
}

.desktop-nav
{
  display: flex;  
}

.mobile-nav
{
  display: none;
}

.hamburger-menu-button
{
  background: rgb(100, 100, 100);
  color: white;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border: none;
  outline: none;
  font-size: 24px;
  transition: 0.1s;
}

.hamburger-menu-button:hover
{
  background: rgb(75, 75, 75);
}

.mobile-menu
{
  background: var(--nav-color);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 220px;
}

.mobile-buttons-container
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.mobile-profile-info
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.create-post-button,
.add-friend-button,
.mobile-create-post-button,
.mobile-add-friend-button {
  background: var(--primary-color);
  color: white;
  width: 225px;
  height: 50px;
  margin: 0 0 0 30px;
  padding: 0;
  border: none;
  outline: none;
  font-size: 30px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  transition: background var(--button-transition-time);
}

.create-post-button:hover,
.add-friend-button:hover,
.mobile-create-post-button:hover,
.mobile-add-friend-button:hover {
  background: var(--dark-primary-color);
}

.title {
  color: white;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  margin-right: 20px;
}

.current-username,
.mobile-current-username {
  color: white;
  margin: 0;
  font-size: 25px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.mobile-current-username
{
  margin-right: 15px;
}

.sign-out-button,
.mobile-sign-out-button {
  background: var(--primary-color);
  color: white;
  width: 120px;
  height: 35px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  transition: background var(--button-transition-time);
}

.sign-out-button:hover {
  background: var(--dark-primary-color);
}

@media screen and (max-width: 1500px) 
{
  .desktop-nav {
    justify-content: flex-end;
  }
  
  .title {
    top: 30px;
    left: 15px;    
    font-size: 35px;
    transform: translateX(0);
  }

  .add-friend-button {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1000px)
{
  nav
  {
    height: 75px;
  }
  
  .desktop-nav
  {
    display: none;
  }

  .mobile-nav
  {
    display: flex;
    justify-content: flex-end;
  }

  .title
  {
    top: 15px;
  }
}

@media screen and (max-width: 400px)
{
  .mobile-current-username
  {
    font-size: 20px;
  }

  .mobile-profile-info
  {
    margin-right: 25px;
  }

  .title
  {
    top: 20px;
    font-size: 25px;
  }
}

/* HOMEPAGE */

.feed {
  background: rgb(32, 32, 32);
  width: 50vw;
}

.no-posts {
  color: white;  
  margin: 25px 10px 25px 10px;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 1000px)
{
  .feed
  {
    width: 75vw;        
  }
}

@media screen and (max-width: 600px)
{
  .feed
  {
    width: 100vw;
  }

  .no-posts
  {
    font-size: 25px;
  }
}

/* FEED */

.create-post-modal {
  background: var(--modal-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  height: 40vh;
  margin: 150px auto;
  padding: 55px 55px 0 55px;
}

.new-post-textarea {
  background: rgb(45, 45, 45);
  color: white;
  width: calc(100% - 40px); /* Left and right padding + left and right border*/ 
  margin: 0;
  padding: 10px;
  border: 10px solid rgb(100, 100, 100);
  outline: none;
  resize: none;
  font-size: 40px;
  flex: 1;
}

.new-post-textarea::placeholder {
  color: rgb(179, 179, 179);
  font-style: italic;
}

.post-button {
  background: var(--primary-color);
  color: white;
  width: 250px;
  height: 60px;
  margin: 30px auto;
  padding: 0;
  border: none;
  outline: none;
  font-size: 35px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  transition: background var(--button-transition-time);
}

.post-button:hover {
  background: var(--dark-primary-color);
}

@media screen and (max-width: 600px)
{
  .create-post-modal
  {
    width: 100vw;
    margin: 150px 0;
    padding: 55px 0 0 0;
  }

  .new-post-textarea
  {
    font-size: 35px;
  }
}

/* CREATE POST MODAL */

.post {
  /*background: rgba(85, 85, 85, 0.5);*/
  background: var(--light-secondary-color);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 10px);
  margin: 0 0 10px 0;
  padding: 10px 0 0 10px;
  font-family: "Roboto", sans-serif;
}

.stats-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
}

.like-button {
  background: none;
  color: red;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  font-size: 30px;
  transition: var(--button-transition-time);
}

.like-button:hover {
  color: rgb(255, 73, 73);
  font-size: 35px;
}

@keyframes shake {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.comments-button {
  background: none;
  color: gray;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  font-size: 30px;
  opacity: 0.75;
  transition: var(--button-transition-time);
}

.comments-button:hover {
  color: rgb(165, 165, 165);
  opacity: 1;
}

.shake {
  animation: shake 1s;
}

.likes {
  margin: 0;
  padding: 0;
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 10px);
  height: 100%;
  padding: 0 10px 10px 0;
  overflow-wrap: break-word;
}

.post-sender {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.add-as-friend-button {
  background: var(--primary-color);
  color: white;
  margin: 0 0 0 10px;
  padding: 4px 8px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  transition: background var(--button-transition-time);
}

.add-as-friend-button:hover {
  background: var(--dark-primary-color);
}

.post-text {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

/* POST */

/* The backdrop is controlled by the '.backdrop' selector */
.comments-modal {
  background: rgb(60, 60, 60);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
  max-height: 85vh;
  margin: 100px auto;
  padding: 60px 60px 15px 60px;
  overflow: scroll;
}

.close {
  background: none;
  color: rgb(190, 190, 190);
  position: absolute;
  top: 7px;
  right: 7px;
  width: 40px;
  height: 40px;
  margin: 0;
  border: none;
  outline: none;
  font-size: 25px;
  font-weight: 900;
  transition: background var(--button-transition-time);
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360);
  }
}

.close:hover {
  background: rgba(150, 150, 150, 0.5);
}

.close i {
  transition: transform 0.35s;
}

.close:hover i {
  transform: rotateZ(90deg);
}

.comments {
  height: 100%;
  overflow: scroll;
}

.comments::-webkit-scrollbar {
  display: none;
}

.comment {
  background: var(--secondary-color);
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px 0 0 10px;
  font-family: "Roboto", sans-serif;
}

.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 10px);
  height: 100%;
  padding: 0 10px 10px 0;
  overflow-wrap: break-word;
}

.comment-sender {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.comment-text {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

@media screen and (max-width: 600px)
{
  .comments-modal
  {
    width: 100vw;
    padding: 60px 0 5px 0;
  }
}

/* COMMENTS */

.new-comment-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.new-comment-textarea {
  background: rgba(43, 43, 43, 0.5);
  color: white;
  width: calc(100% - 40px); /* Padding and borders */
  height: 200px;
  margin: 10px 0 0 0;
  padding: 0 10px;
  border: 10px solid rgb(43, 43, 43);
  outline: none;
  resize: none;
  font-size: 40px;
}

.new-comment-textarea::placeholder {
  color: rgb(179, 179, 179);
  font-style: italic;
}

.post-comment-button {
  background: var(--primary-color);
  color: white;
  width: 200px;
  height: 50px;
  margin: 20px 0 20px 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 30px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  transition: background var(--button-transition-time);
}

.post-comment-button:hover {
  background: var(--dark-primary-color);
}

/* NEW COMMENT FORM */

/* The backdrop is controlled by the '.backdrop' selector */
.search-for-user-modal {
  background: var(--modal-color);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  max-height: 85vh;
  margin: 200px auto;
  padding: 50px;
}

.search-for-user-form {  
  display: flex;
  width: 100%;
  height: 45px;
  margin: 0;
  padding: 0;
}

.search-for-user-input {
  background: rgb(255, 255, 255);
  min-width: 0;
  font-size: 20px;
  margin: 0;
  padding: 0 0 0 7px;
  border: none;
  border-radius: 0;
  outline: none;
  flex: 1;
}

.search-for-user-input::placeholder {
  font-style: italic;
}

.search-for-user-button {
  background: var(--primary-color);
  color: white;
  width: 165px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 30px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  transition: background var(--button-transition-time);
}

.search-for-user-button:hover {
  background: var(--dark-primary-color);
}

.found-user {
  background: rgb(150, 150, 150);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 25px 0 0 0;
}

.found-user-name {
  color: white;
  margin: 0 20px 0 0;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

.add-as-friend-button,
.unfriend-button {
  background: var(--primary-color);
  color: white;
  height: 40px;
  margin: 0;
  padding: 0 20px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  transition: background var(--button-transition-time);
}

.add-as-friend-button:hover,
.unfriend-button:hover {
  background: var(--dark-primary-color);
}

.no-users-found {
  color: white;
  margin: 30px 0 0 0;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.close-user-search-button {
  background: var(--primary-color);
  color: white;
  width: 150px;
  height: 50px;
  margin: 20px 0 0 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 30px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  transition: background var(--button-transition-time);
}

.close-user-search-button:hover {
  background: var(--dark-primary-color);
}

@media screen and (max-width: 600px)
{
  .search-for-user-modal
  {
    width: 100vw;
    padding: 55px 0 20px 0;
  }
}

/* SEARCH FOR USER MODAL */
